<header>
  <nav class="navbar navbar-light" style="background-color: #646464">
    <div class="container">
      <a class="navbar-brand">
        Кириешки
      </a>
      {% with request.resolver_mathc.view as view_name%}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == "pages:about" %} text-white {% endif %}" {% comment %} href="{% url 'pages:about' %}"{% endcomment %}>
              О проекте
            </a>
          </li>
          <li class="nav nav-pills">
            <a class="nav-link {% if view_name == 'pages:rules' %} text-white {% endif %}" {% comment %}href="{% url 'pages:about' %}"{% endcomment %}>
              Правила пользования
            </a>
          </li>
          {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-lable="Basic outlined example">
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'accounts:profile' user.username %}">{{ user.username }}</a></button>
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'logout' %}">Выйти</a></button>
            </div>
          {% else %}
            <div class="btn-group" role="group" aria-lable="Basic outlined example">
              <button type="button" class="btn btn-outlined-primary"><a class="text-decoratin-none text-reset"
                href={% url 'login' %}>Войти</a></button>
              <button type="button" class="btn btn-outlined-primary"><a class="text-decoratin-none text-reset"
                href={% url 'registration' %}>Регистрация</a></button>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>